@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ======================================================
                    VARIABLES & GENERAL CSS
========================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  resize: none;
  outline: none;
  border: none;
}

:root {
  --color-bg: #F7F6D3;
  --color-text: #93BD57;
  --color-tertiary: #F5D2D2;

  --shadow: 6px 6px 12px #bababa, -6px -6px 12px #ffffff;
  --inner-shadow: inset 6px 6px 12px #bababa, inset -6px -6px 12px #ffffff;

  --width-lg: 80%;
  --width-sm: 95%;
  --transition: all 0.4s ease-in;
}

body {
  font-family: "Great Vibes", cursive;
  font-family: "Rubik", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
  height: 100vh;
  width: 100%;
  position: relative;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: var(--inner-shadow);
}
::-webkit-scrollbar-thumb {
  box-shadow: var(--shadow);
  background: var(--color-tertiary);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
a {
  color: var(--color-text);
  font-size: 0.9rem;
}
span,
p {
  font-size: 0.9rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.1rem;
}
.container {
  margin: 0 auto;
  width: var(--width-lg);
}
section {
  padding: 5rem 0 3rem;
  min-height: 100vh;
}
.title {
  text-align: center;
  margin-bottom: 6rem;
}
.title h2 {
  font-size: 2.5rem;
  display: inline-block;
  color: var(--color-text);
  font-weight: 300;
}
.title h2 span {
  font-size: 2.5rem;
  color: var(--color-tertiary);
  font-weight: 900;
}
.btn {
  padding: 1rem 3rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  color: var(--color-text);
  font-weight: 700;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.btn span {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.btn.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-text);
  height: 10px;
  width: 10px;
  z-index: -1;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  visibility: hidden;
}
.btn:hover {
  color: var(--color-tertiary);
  box-shadow: 1px 1px 10px var(--color-tertiary);
}
.btn.overlay:hover::after {
  visibility: visible;
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100);
}
.scrollbar::-webkit-scrollbar {
  height: 0.66rem;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.scrollbar::-webkit-scrollbar-button {
  width: 0.8rem;
}
nav {
  padding: 0.3rem 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
nav.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-bg);
  z-index: 11111;
  box-shadow: var(--shadow);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlist {
  display: flex;
  gap: 2rem;
}
.navlist li a {
  text-transform: capitalize;
  font-weight: 500;
}
.navlist li a:hover {
  color: var(--color-tertiary);
}
.nav-icons {
  display: flex;
  gap: 2rem;
}
.nav-icons div {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--color-text);
  background: var(--color-bg);
  box-shadow: var(--shadow);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  cursor: pointer;
}
.nav-icons div:hover {
  color: var(--color-tertiary);
  box-shadow: var(--inner-shadow);
}

.home {
  width: 100%;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 20px;
}
.home .left {
  margin-top: 3rem;
}
.home .left h1 {
  font-size: 3.3rem;
  font-weight: 800;
}
.home .left h1 span {
  font-size: 3.5rem;
  color: var(--color-tertiary);
}
.home .left h3 span {
  font-size: 1.5rem;
  color: var(--color-tertiary);
}
.home .left p {
  padding: 1.6rem 0;
}
.home .left .btn {
  padding: 1rem 3rem;
}
.home .social-icons {
  margin-top: 35px;
  margin-bottom: 40px;
}
.home .social-icons i {
  height: 5rem;
  width: 5rem;
  box-shadow: var(--shadow);
  background: var(--color-bg);
  padding: 0.8rem;
  margin: 0.7rem;
  font-weight: 800;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.home .social-icons i:hover {
  color: var(--color-tertiary);
  box-shadow: var(--inner-shadow);
}
.home .right {
  margin: auto;
}
.home .right img {
  max-width: 35rem;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.about-container {
  display: grid;
  margin-top: 150px;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about .left img {
  max-height: 30rem;
  width: auto;
  box-shadow: var(--shadow);
  border-radius: 0.3rem 50% 0.3rem 0.3rem;
  -webkit-border-radius: 0.3rem 50% 0.3rem 0.3rem;
  -moz-border-radius: 0.3rem 50% 0.3rem 0.3rem;
  -ms-border-radius: 0.3rem 50% 0.3rem 0.3rem;
  -o-border-radius: 0.3rem 50% 0.3rem 0.3rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.about .left img:hover {
  border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -webkit-border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -moz-border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -ms-border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -o-border-radius: 50% 0.5rem 0.5rem 0.5rem;
}
.about .right .title {
  text-align: start;
  margin-bottom: 2rem;
}
.about h2 {
  font-weight: 500;
}
.about .right > p {
  margin: 0.5rem 0 2rem;
}
.about .right > p span {
  color: var(--color-tertiary);
}
.about .right .btn {
  padding: 1rem 2rem;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -20px;
}
.skills-container .box {
  width: calc(33.33% - 1.5rem);
  padding: 2rem 2rem;
  text-align: center;
  background: transparent;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.skills .title h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 50px;
}
.skills .title h2 span{
  font-size: 2.5rem;
  color: var(--color-tertiary);
}
.skills-container .box i {
  font-size: 4rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition-delay: 0.1s;
}
.skills-container .box h4 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition-delay: 0.3s;
}
.skills-container .box .btn {
  padding: 0.4rem 2rem;
  margin: 1rem 0 2rem;
  font-weight: 700;
  background: var(--color-text);
  color: var(--color-bg);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition-delay: 0.5s;
}
.skills-container .box.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-450px, -250px);
  -webkit-transform: translate(-450px, -250px);
  -moz-transform: translate(-450px, -250px);
  -ms-transform: translate(-450px, -250px);
  -o-transform: translate(-450px, -250px);
  background-color: var(--color-tertiary);
  border-radius: 0 50% 50% 50%;
  -webkit-border-radius: 0 50% 50% 50%;
  -moz-border-radius: 0 50% 50% 50%;
  -ms-border-radius: 0 50% 50% 50%;
  -o-border-radius: 0 50% 50% 50%;
  height: 33rem;
  width: 31rem;
  z-index: -1;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.skills .box:hover {
  box-shadow: 1px 1px 15px var(--color-tertiary);
  color: var(--color-bg);
}
.skills .box:hover .btn {
  color: var(--color-tertiary);
  box-shadow: none;
  background: var(--color-bg);
}
.skills .box.overlay:hover::after {
  visibility: visible;
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100);
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -20px;
}
.projects-container .box {
  width: calc(33.33% - 1.5rem);
  padding: 2rem 2rem;
  text-align: center;
  background: transparent;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.projects .title h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 50px;
}
.projects .title h2 span{
  font-size: 2.5rem;
  color: var(--color-tertiary);
}
.projects-container .box i {
  font-size: 4rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition-delay: 0.1s;
}
.projects-container .box h4 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition-delay: 0.3s;
}
.projects-container .box .btn {
  padding: 0.4rem 2rem;
  margin: 1rem 0 2rem;
  font-weight: 700;
  background: var(--color-text);
  color: var(--color-bg);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition-delay: 0.5s;
}
.projects-container .box.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-450px, -250px);
  -webkit-transform: translate(-450px, -250px);
  -moz-transform: translate(-450px, -250px);
  -ms-transform: translate(-450px, -250px);
  -o-transform: translate(-450px, -250px);
  background-color: var(--color-tertiary);
  border-radius: 0 50% 50% 50%;
  -webkit-border-radius: 0 50% 50% 50%;
  -moz-border-radius: 0 50% 50% 50%;
  -ms-border-radius: 0 50% 50% 50%;
  -o-border-radius: 0 50% 50% 50%;
  height: 33rem;
  width: 31rem;
  z-index: -1;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.projects .box:hover {
  box-shadow: 1px 1px 15px var(--color-tertiary);
  color: var(--color-bg);
}
.projects .box:hover .btn {
  color: var(--color-tertiary);
  box-shadow: none;
  background: var(--color-bg);
}
.projects .box.overlay:hover::after {
  visibility: visible;
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100);
}
.contact-content .row {
  margin-top: -65px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contact .title h2 {
  font-weight: 500;
}
.contact-content .box {
  padding: 1.2rem 2.2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: var(--shadow);
  text-align: center;
}
.contact-content i {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  color: var(--color-tertiary);
}
.contact-content span {
  font-weight: 500;
}
.contact-content h4 {
  font-size: 0.94rem;
}
.contact-content .contact-form {
  width: 700px;
  padding: 1rem 2.1rem;
  background: transparent;
  margin: 5.5rem 0;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-bottom: -10px;
}
.contact-content input,
.contact-content textarea {
  width: 100%;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.3rem 0;
  font-size: 85%;
  font-family: inherit;
  font-weight: inherit;
  background: var(--color-bg);
  color: var(--color-text);
  box-shadow: var(--inner-shadow);
}
.contact-form .btn {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.contact-form .btn span {
  font-weight: 900;
  font-size: 96%;
  letter-spacing: 0.05rem;
}
